body {
    font-family: "Noto Serif", Athelas, Cambria, serif;
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
    background-color: #ffffe0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main {
    margin-bottom: 4ex;
}


article {
    margin: 8ex 0 8ex 0;
}

section {
    margin: 8ex 0 8ex 0;
}

pre {
    overflow: auto;
}

header > h1 {
    font-size: xx-large;
}

tt, code, pre, source {
    font-family: "Courier New", Courier, "Noto Sans Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    font-size: smaller;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    color: #0099cc;
}

a:visited {
     color: #003399;
}

a:visited:hover {
     color: #0099cc;
}

time {
    font-style: italic;
}

li {
    line-height: 1.5;
}
