{% extends "index.html" %}

{% import "macros.html" as macros %}

{% block pageheader %}
{{ macros::page_header(title="Taggar") }}
{% endblock pageheader %}

{% block content %}
{% if terms %}
<p>
    <ul>
        {% for term in terms %}
        <li><a href="{{ term.permalink | safe }}">{{ term.name }}</a> ({{ term.pages | length }})</li>
        {% endfor %}
    </ul>
</p>
{% endif %}
{% endblock content %}
