{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block extra_head_feed_links %}
{% set category_rss_path = get_url(path="categories/" ~ term.slug ~ "/rss.xml") %}
<link rel="alternate" type="application/rss+xml" title="{{ config.title }}: {{ term.name }} RSS"
    href="{{ get_url(path=category_rss_path) }}" />
{% endblock extra_head_feed_links %}

{% block extra_links %}
<li><a href="{{ get_url(path=category_rss_path) }}" , rel="alternate">Artiklar om {{ term.name }}</a></li>
{% endblock extra_links %}

{% block pageheader %}
{{ macros::page_header(title=term.name) }}
{% endblock pageheader %}

{% block content %}
{% for page in paginator.pages %}
{{ macros::page_in_list(page=page) }}
{% endfor %}
{% endblock content %}
