
h1 { color: green; font-family: arial, impact, sans-serif }
h2 { color: red; font-family: arial, impact, sans-serif } 
h3 { font-family: arial, impact, sans-serif } 
h4 { font-family: arial, impact, sans-serif } 
p { font-family: arial, impact, sans-serif } 
li { font-family: arial, impact, sans-serif }
.links { position: absolute; top:50px; left: 30px; width: 190px }
.main { position: absolute; top:50px; left: 200px }
.main2 { position: absolute; top:50px; left: 0px }
.main3 { position: absolute; top:50px; left: 200px }
.main4 { position: absolute; top:50px; left: 400px }
.main5 { position: absolute; top:300px; left: 0px; width: 600px }
.main6 { position: absolute; top:150px; left: 540px }
.small { font-size: 10pt }
