{% import "macros.html" as macros %}

{% if section and not current_path %}
{% set is_frontpage = true %}
{% endif %}

<!DOCTYPE html>
<html lang="{% if page.extra.language %}{{ page.extra.language }}{% else %}{{ config.default_language }}{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">

    <link href="{{ get_url(path="favicon.ico") }}" rel="icon">
    <link href="{{ get_url(path="favicon-16x16.png") }}" rel="icon" sizes="16x16">
    <link href="{{ get_url(path="favicon-96x96.png") }}" rel="icon" sizes="96x96">
    <link href="{{ get_url(path="favicon-192x192.png") }}" rel="icon" sizes="192x192">
    <link href="{{ get_url(path="favicon-32x32.png") }}" rel="icon" sizes="32x32">

    {% if page %}
    <title>{{ page.title }} – {{ config.title }}</title>
    {% elif section and section.title %}
    <title>{{ section.title }} – {{ config.title }}</title>
    {% else %}
    <title>{{ config.title }}</title>
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS"
        href="{{ get_url(path="rss.xml") }}" />
    {% block extra_head_feed_links %}{% endblock extra_head_feed_links %}

    <link rel="sitemap" type="application/xml" title="{{config.title}} Sitemap"
        href="{{ get_url(path="sitemap.xml") }}" />

    <link rel="me" href="https://mastodon.sdf.org/@bkhl" />

    <meta name="description" content="{{ config.description }}" />
</head>

<body>
    {% if is_frontpage %}
    <header>
        <h1>{{ config.title }}</h1>
        <p>{{ config.description }}</p>
        <p><img src="{{ get_url(path="upsalaraket.jpeg") }}" title="Upsalaraket" alt="En raket flyger förbi Upsala domkyrkotorn" />
        </p>
    </header>
    {% else %}
    <header>
        <p><a href="{{ get_url(path="") }}">{{ config.title }}</a>
            {% if page.ancestors and page.ancestors | length > 1 %}
            {% set parent_section = get_section(path=page.ancestors | last) %}
            / <a href="{{ get_url(path=parent_section.path) }}">{{ parent_section.title }}</a>
            {% endif %}
        </p>
    </header>
    {% endif %}

    <main>
        {% block pageheader %}{% endblock pageheader %}

        {% block content %}
        <p>Upsalafandom är en fristående del i det världsomspännande nätverk som kallas science fiction-fandom, vi som
            inte nöjer oss med att gilla sf och fantasy ensamma i läsfåtöljen utan vill träffa andra med samma intresse
            – på <a href="{{ get_url(path="bokprat") }}">bokpratarmöten</a>, dvd-tittningar, <a
                href="{{ get_url(path="pubmoten") }}">pubträffar</a>, antikvariatsrundor och sf-festivaler.</p>

        <p>Navet i verksamheten är de <a title="Pubmöten" href="{{ get_url(path="pubmoten") }}">pubmöten</a> som v håller första
            helgfria tisdagen varje månad. De hålls på <a href="https://oneillsirishpub.se/">O'Neill's Irish Pub</a> på
            Dragarbrunnsgatan 53, från kl. 18.00 och framåt. Dessa möten har vi hållit utan uppehåll sedan januari 1997.
            Kom förbi och ta en matbit och ett glas öl eller juice tillsammans med oss!</p>

        <img alt="Upsalafandom samlade i ett vardagsrum" src="{{ get_url(path="upsalafandom.jpeg") }}" />

        <p>Inom gruppen finns både de som i första hand är intresserade av science fiction och de som i första hand är
            intresserade av umgänget i sig. Det gemensamma intresset för fantastisk litteratur bildar bakgrund till vår
            verksamhet. Det innebär inte att vi tycker att sf är det viktigaste i våra liv, men det är för att vi
            fascineras
            eller har fascinerats av science fiction eller fantasy som vi började umgås.</p>

        <h2>Mer om oss</h2>

        <ul>
            <li><a href="{{ get_url(path="blogg") }}">Blogg</a></li>
            <li><a href="{{ get_url(path="bokprat") }}">Bokprat</a></li>
            <li><a href="{{ get_url(path="epostlista") }}">E-postlista</a></li>
            <li><a href="{{ get_url(path="fanzines") }}">Fanzines</a></li>
            <li><a href="{{ get_url(path="kalendarium") }}">Kalendarium</a></li>
            <li><a href="{{ get_url(path="kontakt") }}">Kontakt</a></li>
            <li><a href="{{ get_url(path="podradio") }}">Podradio</a></li>
            <li><a href="{{ get_url(path="pubmoten") }}">Pubmöten</a></li>
            <li><a href="{{ get_url(path="vad_ar_fandom") }}">Vad är fandom?</a></li>
            <li><a href="{{ get_url(path="vilka_ar_vi") }}">Vilka är vi?</a></li>
            <li><a href="{{ get_url(path="om_sidan") }}">Om den här sidan</a></li>
            <li><a href="{{ get_url(path="english") }}">In English</a></li>
        </ul>
        {% endblock content %}

    </main>

    <footer>
        <nav>
            {% if paginator or page.later or page.earlier %}
            <section>
                <h4>Navigation</h4>
                <ul>
                    {% if paginator %}
                    {% if paginator.previous %}
                    <li><a href=" {{ paginator.previous }}" rel="prev">Föregående</a></li>
                    {% endif %}
                    {% if paginator.next %}
                    <li><a href=" {{ paginator.next }}" rel="next">Nästa</a></li>
                    {% endif %}
                    {% else %}
                    {% if page.later %}
                    <li><a href="{{ page.later.permalink }}" rel="next">Nästa ({{ page.later.title }})</a></li>
                    {% endif %}
                    {% if page.earlier %}
                    <li><a href="{{ page.earlier.permalink }}" rel="prev">Föregående ({{ page.earlier.title }})</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </section>
            {% endif %}
            {% if not is_frontpage %}
            <section>
                <h4>Sidor</h4>
                <ul>
                    <li><a href="{{ get_url(path="blogg") }}">Blogg</a></li>
                    <li><a href="{{ get_url(path="kalendarium") }}">Kalendarium</a></li>
                    <li><a href="{{ get_url(path="kontakt") }}">Kontakt</a></li>
                    <li><a href="{{ get_url(path="english") }}">In English</a></li>
                </ul>
            </section>
            {% endif %}
            <section>
                <h4>Prenumerera med RSS</h4>
                <ul>
                    <li><a href="{{ get_url(path="rss.xml") }}" , rel="alternate">Alla artiklar</a>
                    </li>
                    {% block extra_links %}{% endblock extra_links %}
                </ul>
            </section>
        </nav>
    </footer>
</body>

</html>
