{% macro page_header(title) %}
<header>
    <h1>{{ title }}</h1>
</header>
{% endmacro page_header %}

{% macro dateline(page) %}
<p>
    {% if page.taxonomies.forfattare %}
    Av
    {%- for author in page.taxonomies.forfattare %}
    {%- if not loop.first and not loop.last %}, {%- elif loop.last and not loop.first %} och {%- endif %}
    <a href="{{ get_taxonomy_url(kind="forfattare", name=author) | safe }}">{{ author }}</a>
    {%- endfor %}
    i
    {% endif %}
    {% if page.taxonomies.kategorier %}
    {%- for category in page.taxonomies.kategorier %}
    {%- if not loop.first and not loop.last %}, {%- elif loop.last and not loop.first %} och {%- endif %}
    <a href="{{ get_taxonomy_url(kind="kategorier", name=category) | safe }}">{{ category }}</a>
    {%- endfor %}
    {% endif %}

    <time datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date }}</time>

</p>
{% if page.taxonomies.taggar %}
<p>
    <small>
        Om
        {%- for tag in page.taxonomies.taggar %}
        {%- if not loop.first and not loop.last %}, {%- elif loop.last and not loop.first %} och {%- endif %}
        <a href="{{ get_taxonomy_url(kind="taggar", name=tag) | safe }}">{{ tag }}</a>
        {%- endfor %}
    </small>
</p>
{% endif %}
{% endmacro dateline %}

{% macro page_in_list(page) %}
<article>
    <header>
        <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
        {% if page.taxonomies.kategorier or page.date %}
        {{ macros::dateline(page=page) }}
        {% endif %}
    </header>

    {% if page.summary %}
    {{ page.summary | safe }}
    {% else %}
    {{ page.content | safe }}
    {% endif %}

    {% if page.summary %}
    <footer>
        <p><a href="{{ page.permalink }}#continue-reading">Fortsätt läsa</a></p>
    </footer>
    {% endif %}
</article>
{% endmacro page_in_list %}
