{% extends "index.html" %}

{% block content %}
<article>
    <header>
        <h1>{{ page.title }}</h1>

        {% if page.date %}
        {{ macros::dateline(page=page) }}
        {% endif %}
    </header>

    {{ page.content | safe }}
</article>
{% endblock content %}
